<%= form_for @property_deal, url: {action: "update"} do |f| %>
        <div class="row" style="padding:5px 18px;">
          <div class="col-md-4 col-xs-12">
            <label>Title:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.text_field :title, class:'form-control input-md', placeholder:'Enter your name',required:true  %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Offer Details:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.text_area(:offer_details, size: '50x10', placeholder:'Enter offer details') %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Address:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
             
              <%= f.text_area :address, size: '50x10', class:'form-control input-md', placeholder:'Enter Address' ,required:true %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Description:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
             
              <%= f.text_area :description, size: '50x10', class:'form-control input-md', placeholder:'Enter Description' ,required:true %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>About:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
             
              <%= f.text_area :about, size: '50x10', class:'form-control input-md', placeholder:'Enter About' ,required:true %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Terms:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
             
              <%= f.text_area :terms, size: '50x10', class:'form-control input-md', placeholder:'Enter Terms' ,required:true %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Seo_url:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.text_field :seo_url, class:'form-control input-md', placeholder:'Enter seo url',required:true  %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Offer Image Url:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.text_field :offer_img_url, class:'form-control input-md', placeholder:'Enter offer image url',required:true  %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <label>Banner image url:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.text_field :banner_url, class:'form-control input-md', placeholder:'Enter banner url',required:true  %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 box text-center">
            <%= f.submit "Submit",class:'btn custom-btn btn-lg'  %>
          </div>
        </div>
        <!-- </form> --> 
        <% end %>