
<h3>Response from: <%= @lead.category %></h3>
<table border="1" style="border-collapse: collapse;">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>City</th>
    <th>Category</th>
  </tr>
  <tr>
    <td><%= @lead.name%></td>
    <td><%= @lead.email %></td>
    <td><%= @lead.phone_number %></td>
   <td><%= @lead.city %></td>
   <td><%= @lead.category %></td>
  </tr>
</table>