
<div class="col-md-offset-3 col-md-6 well well-xs">
	
	<div class="col-md-12">
		<h1>Lead Detail</h1>
		<ul class="list-group">
			<li class="list-group-item">
				<label>Id:</label>
				<i><%= @lead.id %></i>
			</li>
			<li class="list-group-item">
				<label>Name:</label>
				<i><%= @lead.name %></i>
			</li>
			<li class="list-group-item">
				<label>Phone Number:</label>
				<i><%= @lead.phone_number %></i>
			</li>
			<li class="list-group-item">
				<label>Email:</label>
				<i><%= @lead.email %></i>
			</li>
			<li class="list-group-item">
				<label>Category:</label>
				<i><%= @lead.category %></i>
			</li>
			<li class="list-group-item">
				<label>Created At:</label>
				<i><%= @lead.created_at %></i>
			</li>
		</ul>
	</div>
</div>
